.auth__title {
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 30px;
}

.auth__title--smaller {
  margin-bottom: 50px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .auth__title--smaller {
    margin-bottom: 40px;
  }
}
