:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.auth__social {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 0;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  margin-left: 15px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s;
  &:focus {
    outline: none;
  }
}
.auth__social:hover {
  transform: scale(1.1);
}
