@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Italic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-MediumItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Black.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
:root {
  font-size: 16px;
}
@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.15;
  color: #3f3e3c;
  background-color: #fff;
  min-height: 100vh;
}

.body--overflowHidden {
  overflow: hidden;
}
@media screen {
  .body--overflowHidden {
    padding-right: 17px;
  }
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media (max-width: 767px) {
  .container--center {
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 100vh;
  }
}
