<h3>Добавить место:
</h3>
<form action="details.html" class="searchForm details__search-form">
  <label class="label">
    <input type="text" class="input input__common searchForm__input" required="">
    <span class="input__placeholder searchForm__input-placeholder">Место, город или
      страна</span>
  </label>
  <button type="submit" class="searchForm__submit">
    <svg-icon [src]="searchButtonImage"
      [svgStyle]="{ 'width.px': 25, 'height.px': 25, 'fill': searchIconColor }">
    </svg-icon>
  </button>
  <button type="submit" class="friends__submit" (mouseenter)="mouseenterListener()" (mouseleave)="mouseleaveListener()">
    <svg-icon [src]="addButtonImage"
      [svgStyle]="{ 'width.px': 25, 'height.px': 25, 'transition' : 'all 0.3s', 'fill': !isHovered ? addButtonColor : addButtonHoverColor}">
    </svg-icon>
  </button>
</form>