@import "variables.scss";

:host {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  @media (max-width: $screenMobile) {
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (max-width: $screenMobileS) {
    margin-top: 15px;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.stars__svg {
  margin-right: 3px;
  margin-left: 3px;
  transition: all 0.3s;
  cursor: pointer;
}

.details__stars {
  display: flex;
  justify-content: flex-start;
  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.details__controls {
  display: flex;
  flex-direction: column;
  @media (max-width: $screenMobileS) {
    width: 100%;
    margin-top: 15px;
  }
}
